<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}"><svg class="svg-icon" style="color: #828282;" viewBox="0 0 48 48"><use xlink:href="{{ '/assets/minima-icons.svg#gmail' | relative_url }}"></use></svg> {{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-1">
        {%- include social.html -%}
        <ul class="social-media-list">
          <li><a href="http://memos.thomasyang.nl/explore">
            <img src="/images/my-memos-logo.png" alt="my memos logo" style="width: 20px; height: 20px; color: #828282;" /> Memos
          </a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><svg class="svg-icon"  viewBox="0 0 380 380"><use xlink:href="{{ '/assets/minima-icons.svg#pyramid' | relative_url }}"></use></svg>{{- site.description | escape -}}</li>
          <li><a href="{{ "/feed.xml" | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg>RSS 订阅</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>