---
---

@import "minima";

.site-header {
  border-top: 0;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.post-link {
  display: block;
  @include relative-font-size(1.25);
}

.post-content {
  margin-bottom: $spacing-unit;
}

.footer-col {
  float: left;
  margin-bottom: 0;
  padding-left: $spacing-unit / 2;
}

.footer-col > * {
  margin-bottom: 0;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
  width: -webkit-calc(33.333% - (#{$spacing-unit} / 2));
  width:         calc(33.333% - (#{$spacing-unit} / 2));
}

.social-media-list {
  li {
    display: flex;
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;
  }
}