---
---

@import "minima";

.site-header {
  border-top: 0;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.post-link {
  display: block;
  @include relative-font-size(1.25);
}

.post-content {
  margin-bottom: $spacing-unit;
}

.footer-col {
  float: left;
  margin-bottom: 0;
  padding-left: $spacing-unit / 2;
}

.footer-col > * {
  margin-bottom: 0;
}

.memos-icon {
  width: 22px;
  height: 22px;
  display: inline-block;
  fill: #828282;
  padding-right: 5px;
  vertical-align: text-top;
}